{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
{#{ form_widget(form) }#}

<section class="call-to-action" data-aos="fade-zoom-in"
         data-aos-offset="200" data-aos-easing="ease-in-sine"
         data-aos-duration="600">
    <div class="container">

        <h3>Registro de usuario</h3>

        <div class="row" style="margin:5%;">
            <div class="col-sm-1 col-lg-3"></div>
            <div class="col-xs-12 col-sm-10 col-lg-6">
                {{ form_label(form.username, 'Nombre usuario') }}
                {{ form_errors(form.username) }}

                {{ form_widget(form.username, { 'attr': {'class': 'form-control'} }) }}
            </div>
            <div class="col-sm-1 col-lg-3"></div>
        </div>

        <div class="row" style="margin:5%;">
            <div class="col-sm-1 col-lg-3"></div>
            <div class="col-xs-12 col-sm-10 col-lg-6">

                {{ form_label(form.email, 'Email') }}
                {{ form_errors(form.email) }}

                {{ form_widget(form.email, { 'attr': {'class': 'form-control'} }) }}
            </div>
            <div class="col-sm-1 col-lg-3"></div>
        </div>

        <div class="row" style="margin:5%;">
            <div class="col-sm-1 col-lg-3"></div>
            <div class="col-xs-12 col-sm-10 col-lg-6">
                {{ form_label(form.plainPassword.first,'Password') }}
                {{ form_errors(form.plainPassword.first) }}

                {{ form_widget(form.plainPassword.first, { 'attr': {'class': 'form-control'} }) }}
            </div>
            <div class="col-sm-1 col-lg-3"></div>
        </div>

        <div class="row" style="margin:5%;">
            <div class="col-sm-1 col-lg-3"></div>
            <div class="col-xs-12 col-sm-10 col-lg-6">
                {{ form_label(form.plainPassword.second, 'Confirma password' ) }}
                {{ form_errors(form.plainPassword.second) }}

                {{ form_widget(form.plainPassword.second, { 'attr': {'class': 'form-control'} }) }}
            </div>
            <div class="col-sm-1 col-lg-3"></div>
        </div>

        <div class="row" style="margin:5%;">
            <div class="col-sm-1 col-lg-3"></div>
            <div class="col-xs-12 col-sm-10 col-lg-6">
                <input type="submit" value="{{ 'Registrarse'|trans }}" class="btn btn-default" />
            </div>
            <div class="col-sm-1 col-lg-3"></div>
        </div>
    </div>

</section>

{{ form_end(form) }}
