{% extends 'base.html.twig' %}

{% block title %}
    Menú de edición {{coso}}
{% endblock %}

{% block description %}
    <meta name="description" content="Menú de edición {{coso}}." />
{% endblock %}

{% block body %}
                
    <div class="container">
        
 
        <div class="col-xs-9 col-sm-9 col-lg-9">
            <h2>Menú de edición {{coso}}</h2>
        </div>
        <div class="col-xs-3 col-sm-3 col-lg-3" style="">
            <a href="{{ path(ruta) }}"><h1 class="glyphicon glyphicon-plus"></h1></a>
        </div>       
        
        {% for cli in clientes %}
            <div class="col-xs-9 col-sm-9 col-lg-9">
                <!-- cliente -->
                <div class="col-md-12  prueba-titulo">
                    {% if coso == "clientes" %}
                        <a href="{{ path('cliente_edit', { 'id': cli.id }) }}"><img class="img_Cliente" src="{{ asset(cli.rutaimagen) }}"  alt="{{ cli.nombre }}"/></a>
                    {% elseif coso == "partners" %}
                        <a href="{{ path('partner_edit', { 'id': cli.id }) }}"><img class="img_Cliente" src="{{ asset(cli.rutaimagen) }}"  alt="{{ cli.nombre }}"/></a>
                    {% endif %}
                </div>
            </div>

            <div class="col-xs-3 col-sm-3 col-lg-3">
                <!-- acciones sobre el articulo-->
                <div style="width:100%; margin-top:7%;">
                    <label class="checkbox-inline"><input type="checkbox" name="check{{cli.id}}" 
                                                          {% if cli.activo == 1 %}
                                                              checked="true"                                                       
                                                          {% endif %}>Activo
                    </label>
                </div>
            </div>

        {% endfor %}

    </div>
    
    <div class="container" style="margin-bottom:5%;">
        {# display navigation #}
        <div class="navigation" style="float:right">
            {{ knp_pagination_render(clientes) }}        
        </div>
    </div>
        
        
    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" id="message1"></h4>
                </div>
                <div class="modal-body">
                    <p id="message2"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" style="float:left;" id="modalYes">Sí </button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="modalNo">No</button>
                </div>
            </div>

        </div>
    </div>
{% endblock %}


{% block javascripts %}
    <script type="text/javascript">
        $(document).ready(function () {

            var check;
            var coso = "{{coso}}"
            $('[name^="check"]').on('click', function () {

                check = $(this);
                //si checkbox no checked lanzar ajax para cambiar articulo a activo = 0
                if ($(this).prop('checked') != true) {
                    $('#message1').text("Desactivar " + coso);
                    $('#message2').text("Se va a desactivar el " + coso + ", ¿estás de acuerdo?.");
                } else {
                    $('#message1').text("Activar " + coso);
                    $('#message2').text("Se va a activar el " + coso + ", ¿estás de acuerdo?.");
                }
                $('#myModal').modal();
            });

            $('#modalYes').on('click', function () {
                lanzaAjax(check);
            });

            $('#modalNo').on('click', function () {
                if (check.prop('checked') == true) {
                    check.prop('checked', false);
                } else {
                    check.prop('checked', true);
                }
            });
        });

        function lanzaAjax(checkbox) {
            var id = checkbox.attr('name').substr(5);
            var coso = "{{coso}}"
            $.ajax({
                url: "/"+coso+"/activa/" + id,
                type: 'POST',
                dataType: "text",
                success: function (json) {
                    var data = JSON.parse(json);
                    if (data.activo == true) {
                        checkbox.prop('checked', true);
                    } else {
                        checkbox.prop('checked', false);
                    }
                },
                error: function (jqXHR, textStatus, error) {
                    //alert( "error: " + jqXHR.responseText);
                    alert("error: " + error);
                }
            });
        }

    </script>
{% endblock %}